:root {
    --bg-color: #131418
}

.--bgColor {
    background-color: var(--bg-color);
    height: 100vh;
}

.--container {
    box-shadow: 15px 15px 0px rgba(16 16 16 / 55%);
}

.--head-text {
    font-size: 2.2rem;
    color: #519eef;
}

.form-group>input:hover,
.form-control:focus,
.form-group>input:focus {
    box-shadow: none;
    border: 2px solid #ddd;
    transition: 0.3s ease;

}

.--submit-btn {
    border: 0;
    outline: none;
    background: #519eef;
}